:root{
    --main-color: #46494C;
    --second-color: #4C5C68;
    --highlight-color: #1985A1;
    --grey-normal: #C5C3C6;
    --grey-light: #DCDCDD;
}


body{
    background-color: var(--main-color);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    background-color: var(--main-color) !important;
    --bs-table-bg:var(--second-color) !important;   
    font-size: 1.5vw;

}


td, th{
    text-align: center;
}

h1{
    color: var(--grey-light);
    font-size: 2.5vw;

}

#title {
    text-align: center;
    /* padding-top: 0.2rem; */
}

#meme-of-the-day {
    min-width: 90%;
    display: flex;
    justify-content: center;
}

#image {
    min-width: 60%;
    max-width: 60%;
}

#leaderboard {
    width: 90%;
    height: 100%;
    /*padding-bottom: 46.25%;*/
}

#title-meme{
    /* padding-top: .2rem; */
    text-align: center;
}


#main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.leaderboard-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 2vmin;
}


.meme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vmin;
}

.bus-container {
    width: 40vw;
}

.side-panel {
    display: flex;
    justify-content: start;
    width: 40vw;
    flex-direction: column;
}

