body{
    background-color: #d4c6c6;
    justify-content: space-between;
    height: 100vh;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    font-family: Arial, Helvetica, sans-serif;
}

table tr:nth-child(odd){
    background:#B2BEB5
}
table tr:nth-child(even){
    background: #d3dad5
}

td, th{
    text-align: center;
}

h1{
    text-align: center;
}

#placeholder-container{
    width: 55%;
    height: 75vh;

    background-color: #C4C4C4;


}

#abfahrt-kh{
    border-right: solid grey;

}

#title {
    text-align: center;
    grid-area: title;
}

#abfahrt-kh{
    grid-area: abfahrt-kh;
}


#abfahrt-bx{
    grid-area: abfahrt-bx;
}

#bus{
    grid-area: bus;
}

#title-meme{
    grid-area: memetitle;
    text-align: center;
}


#main-container{
    display: grid;

    grid-template-areas: 
        "title title memetitle memetitle"
        "abfahrt-kh abfahrt-bx meme meme"
        "wetter wetter bottom bottom"
    ;
    align-items: start;
    
    width: 100%;
    height: 100vh;

}



#meme-of-the-day{
    grid-area: meme;
    width: 100%;
    height: 100vh;
}

#image{
    width: 100%;
    height: 50vh;
}