body{
    background-color: darkgray;
    justify-content: space-between;
}

#flex-container {
    display: flex;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


td, th{
    text-align: center;
    border-bottom: solid;
}

tr{
    border-bottom: solid;
}

#placeholder-container{
    width: 55%;
    height: 75vh;

    background-color: #C4C4C4;


}

#abfahrt-kh{
    border: solid;
    border-left: none;
    border-bottom: none;
    border-top: none;

}

#title {
    grid-area: title;
}

#abfahrt-kh{
    grid-area: abfahrt-kh;
}


#abfahrt-bx{
    grid-area: abfahrt-bx;
}

#meme-of-the-day{
    grid-area: meme;
}

#bus{
    grid-area: bus;
}



#main-container{
    display: grid;

    grid-template-areas: 
        "title title meme meme"
        "abfahrt-kh abfahrt-bx meme meme"
        "wetter wetter meme meme"
    ;
    align-items: start;
    

    background-color: #C4C4C4;
    width: 100%;
    height: 100vh;

}

#meme-of-the-day{
    width: 100%;
    height: 100vh;
}
